altair==4.2.2
celery
cryptography
fastapi
flask
google-api-python-client
google-auth
google-auth-oauthlib
google-genai
httpx
pandas
python-dotenv
requests
SQLAlchemy
psycopg2-binary
streamlit
streamlit-option-menu
uvicorn
yagmail
